@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Hyemin"; 
    font-weight: 500; 
    src: url("./fonts/IM_Hyemin-Regular.ttf")
}

body {
    font-family:"Hyemin"; 
}
